/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.template {
    padding: 3rem 1.5rem;
    text-align: center;
}
