<div class="container">
  <div class="row">
      <div class="col-md-4" style="text-align:center;">
          <h1>CRUD Application</h1>
      </div>
      <div class="col-md-8" style="text-align:center; margin-top: 1%">
        <img src="../../assets/logo-ausy.png" >
      </div>
    </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center; margin-top: 5%">
      <h3>List of contacts</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
        <div class="form-group">
            <i class="fas fa-search"></i>
            <input class="col-md-10" type="text" id="criteria" [(ngModel)]="criteria" placeholder="Rechercher un contact" (input)="filterByName()"/>
            <input class="col-md-1" type="button" (click)="filterByName()" value="Chercher"/>
        </div>
      </div>
    <div class="col-md-1">
      <span (click)="addNewPost()" class="btn btn-primary btn-xs"><i class="fas fa-plus"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <div>
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th sortable-column="nom">
                <i class="fa fa-chevron-up" (click)="sortByAttribut()" *ngIf="sortDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" (click)="sortByAttribut()" *ngIf="sortDirection === 'desc'"></i>
                Nom</th>
            <th sortable-column="prenom">
                <i class="fa fa-chevron-up" (click)="sortByAttribut()" *ngIf="sortDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" (click)="sortByAttribut()" *ngIf="sortDirection === 'desc'"></i>
                Prenom</th>
            <th sortable-column="email">
                <i class="fa fa-chevron-up" (click)="sortByAttribut()" *ngIf="sortDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" (click)="sortByAttribut()" *ngIf="sortDirection === 'desc'"></i>
                Email</th>
            <th sortable-column="telephone">
                <i class="fa fa-chevron-up" (click)="sortByAttribut()" *ngIf="sortDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" (click)="sortByAttribut()" *ngIf="sortDirection === 'desc'"></i>
                Telephone</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of postList | slice: pageSize | slice: 0:itemsPerPage">
              <td>{{item.nom}}</td>
              <td>{{item.prenom}}</td>
              <td>{{item.email}}</td>
              <td><span *ngIf="item.telephone">+33</span>{{item.telephone}}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn" (click)="editPost(item.id)"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-default btn" (click)="deletePost(item)"><i class="fas fa-trash-alt"></i></button> 
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container-fluid">
          <div class="col-10 input-group">
              <div class="col-8 input-group-addon">
                  <ngb-pagination [collectionSize]="postList.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" [boundaryLinks]="true"></ngb-pagination>
              </div>
              <div class="col-1 input-group-addon"></div>
              <div class="col-1 input-group-addon">
                  <input class="input-sm" type="number" [min]="5" [max]="postList.length" step="5" [(ngModel)]="itemsPerPage" (onClick)="changePagesize(pageSize)">
              </div>
          </div>
          <pre><span class="float-md-left">Page: {{ currentPage }} / {{numPages.pageCount}}</span></pre>
      </div>
    </div>
  </div>
</div>
